/* line 17, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* line 17, ../sass/_html5bp.scss */
html,
button,
input,
select,
textarea {
  color: #222;
}

/* line 21, ../sass/_html5bp.scss */
html {
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
/* line 32, ../sass/_html5bp.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 37, ../sass/_html5bp.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
/* line 46, ../sass/_html5bp.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
/* line 63, ../sass/_html5bp.scss */
audio,
canvas,
img,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
/* line 71, ../sass/_html5bp.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
/* line 81, ../sass/_html5bp.scss */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
/* line 89, ../sass/_html5bp.scss */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
/* line 124, ../sass/_html5bp.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

/* line 132, ../sass/_html5bp.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
/* line 143, ../sass/_html5bp.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
/* line 152, ../sass/_html5bp.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
/* line 169, ../sass/_html5bp.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
/* line 182, ../sass/_html5bp.scss */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 199, ../sass/_html5bp.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 204, ../sass/_html5bp.scss */
.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 213, ../sass/_html5bp.scss */
.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 240, ../sass/_html5bp.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 248, ../sass/_html5bp.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 252, ../sass/_html5bp.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 256, ../sass/_html5bp.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  /* line 266, ../sass/_html5bp.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 271, ../sass/_html5bp.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 276, ../sass/_html5bp.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  /* line 281, ../sass/_html5bp.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 285, ../sass/_html5bp.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 295, ../sass/_html5bp.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 301, ../sass/_html5bp.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* line 16, ../sass/henson.scss */
body {
  font: 100% Helvetica, Arial, sans-serif;
  color: white;
  background-color: #202e33;
}

/* line 22, ../sass/henson.scss */
#header {
  height: 126px;
}

/* line 26, ../sass/henson.scss */
#gradients {
  height: 72px;
  background-color: #202e33;
}
/* line 29, ../sass/henson.scss */
#gradients #row1 {
  height: 2px;
  background-color: #202e33;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF202E33', endColorstr='#FF202E33');
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(10%, #202e33), color-stop(50%, #7aadc1), color-stop(90%, #202e33));
  background-image: -webkit-linear-gradient(left, #202e33 10%, #7aadc1 50%, #202e33 90%);
  background-image: -moz-linear-gradient(left, #202e33 10%, #7aadc1 50%, #202e33 90%);
  background-image: -o-linear-gradient(left, #202e33 10%, #7aadc1 50%, #202e33 90%);
  background-image: linear-gradient(left, #202e33 10%, #7aadc1 50%, #202e33 90%);
}
/* line 37, ../sass/henson.scss */
#gradients #row2 {
  height: 10px;
  background-image: -webkit-gradient(linear, 10% 0%, 90% 0%, from(#079986), color-stop(0.3, #c1e1e7), color-stop(0.8, #6fba07), to(#079986));
}
/* line 41, ../sass/henson.scss */
#gradients #row3 {
  height: 50px;
  background-image: -webkit-gradient(linear, 10% 0%, 90% 0%, from(#aad700), color-stop(0.3, #92c90e), color-stop(0.5, #aad700), color-stop(0.6, #92c90e), to(#aad700));
}
/* line 45, ../sass/henson.scss */
#gradients #row4 {
  height: 4px;
  background-color: #78960a;
}
/* line 49, ../sass/henson.scss */
#gradients #row5 {
  height: 8px;
  background-color: #2f3817;
}

/* line 55, ../sass/henson.scss */
#footer {
  height: 120px;
  background-color: #06181e;
}
/* line 58, ../sass/henson.scss */
#footer #topbar {
  height: 4px;
  background-image: -webkit-gradient(linear, 10% 0%, 90% 0%, from(#079986), color-stop(0.3, #c1e1e7), color-stop(0.8, #6fba07), to(#079986));
}
/* line 62, ../sass/henson.scss */
#footer #test {
  background-color: #00ff00;
}
